<script>
    window.onload = function () {
        let currentPage = document.getElementById("dashboard");
        currentPage.className += " active";
    }
</script>

<!--container start-->
<div class="container">

    <h1>Welcome <u>{{user.firstName}} {{user.lastName}}</u></h1>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#listings" role="tab">Listings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#messages" role="tab">Messages</a>
        </li>
    </ul>

    <!--tab content start-->
    <div class="tab-content">

        <div class="tab-pane active" id="listings" role="tabpanel">
            <!--listing header start-->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <h3>Total number of active listings: {{property.length}}</h3>
                    </div>
                    <hr>
                    <div class="row">
                        <h4 class="col-md-4">Address:</h4>
                        <h4 class="col-md-2">Listing #:</h4>
                        <h4 class="col-md-6">Listing Options:</h4>
                    </div>
                </div>
            </div>
            <!--listing header end-->

            {{#each property}}
                <!--card listing start-->
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-4">
                                {{streetAddress}}, {{city}}, {{state}} {{zipCode}}
                            </div>
                            <div class="col-md-2">
                                {{id}}
                            </div>
                            <div class="col-md-6">
                                <form method="post" action="/dashboard">
                                    <button type="submit" class="btn btn-success" formaction="/dashboard/listing/{{id}}"
                                            name="listingdetailbutton" value="{{id}}">Go To Listing
                                    </button>
                                    <button type="submit" class="btn btn-primary" formaction="/edit" name="editButton"
                                            value="{{id}}">Edit Listing
                                    </button>
                                    <button type="submit" class="btn btn-danger" formaction="/dashboard/delete"
                                            name="deleteButton" value="{{id}}">Delete Listing
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--card listing end-->
            {{/each}}
        </div>

        <!--messages tab pane start-->
        <div class="tab-pane" id="messages" role="tabpanel">
            <!--message header start-->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <h3>Total number of messages: {{messages.length}}</h3>
                    </div>
                    <hr>
                    <div class="row">
                        <h4 class="col-md-3">Name:</h4>
                        <h4 class="col-md-3">Listing Number:</h4>
                        <h4 class="col-md-3">Date:</h4>
                    </div>
                </div>
            </div>
            <!--message header end-->

            {{#each messages}}
                <!--card messages start-->
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-3">
                                {{buyerFullName}}
                            </div>
                            <div class="col-md-3">
                                {{listingNumber}}
                            </div>
                            <div class="col-md-3">
                                {{createdAt}}
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-info pull-right" data-toggle="collapse"
                                        data-target="#message">
                                    View Message
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div id="message" class="collapse col-md-12">
                                {{message}}
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
