<script src="javascripts/dashboard.js"></script>

<!--container start-->
<div class="container">

    <div class="row">
        <h1 class="col-md-6">Welcome <u>{{user.firstName}} {{user.lastName}}</u></h1>
        {{#if user.agent}}
            <div class="col-md-6">
                <form action="/listing">
                    <button type="submit" class="btn btn-outline-success pull-right">Add Listing
                    </button>
                </form>
            </div>
        {{/if}}
    </div>
    <hr>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        {{#if user.agent}}
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#listings" role="tab">Listings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#messages" role="tab">Messages</a>
            </li>
        {{else}}
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#messages" role="tab">Messages</a>
            </li>
        {{/if}}

    </ul>

    {{#if user.agent}}
        <!--tab content start-->
    <div class="tab-content">

        <div class="tab-pane active" id="listings" role="tabpanel">
            <!--listing header start-->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <h3 class="col-md-8">Total number of active listings: {{properties.length}}</h3>
                        <form class="col-md-4" method="post" action="/dashboard">
                            <p style="display: inline">Sort By:</p>
                            <input type="radio" id="pdate"
                                   name="pdate" value="pdate">
                            <label>created date</label>
                            <button type="submit" class="btn btn-xs" formaction="/dashboard/sort">Apply</button>
                        </form>
                    </div>
                    <hr>
                    <div class="row">
                        <h4 class="col-md-5">Address:</h4>
                        <h4 class="col-md-4">Created At:</h4>
                        <h4 class="col-md-3">Listing Options:</h4>
                    </div>
                </div>
            </div>
            <!--listing header end-->

            {{#each properties}}
                <!--card listing start-->
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-5">
                                <form method="post">
                                    <button style="border: none; padding:0; background: none;"
                                            formaction="/listingdetails/{{id}}"
                                            name="listingdetailbutton" value="{{id}}">
                                        <u> {{streetAddress}}, {{city}}, {{state}} {{zipcode}}</u>
                                    </button>
                                </form>
                            </div>
                            <div class="col-md-4">
                                {{createdAt}}
                            </div>
                            <div class="col-md-3">
                                <form method="post" action="/dashboard">
                                    <button type="submit" class="btn btn-sm btn-outline-success"
                                            formaction="/listingdetails/{{id}}"
                                            name="listingdetailbutton" value="{{id}}">Go To Listing
                                    </button>
                                    <button type="submit" class="btn btn-sm btn-outline-danger" formaction="/dashboard/delete"
                                            name="deleteButton" value="{{id}}">Delete Listing
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--card listing end-->
            {{/each}}
        </div>

    {{/if}}

    <!--messages tab pane start-->
    <div class="tab-pane" id="messages" role="tabpanel">
        <!--message header start-->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <h3 class="col-md-8">Total number of messages: {{result.length}}</h3>
                    <form class="col-md-4" method="post" action="/dashboard">
                        <p style="display: inline">Sort By:</p>
                        <input type="radio" id="mdate"
                               name="mdate" value="mdate">
                        <label>created date</label>
                        <button type="submit" class="btn btn-xs" formaction="/dashboard/sort">Apply</button>
                    </form>
                </div>
                <hr>
                <div class="row">
                    <h4 class="col-md-3">Name:</h4>
                    <h4 class="col-md-3">Address:</h4>
                    <h4 class="col-md-3">Date:</h4>
                </div>
            </div>
        </div>
        <!--message header end-->

        {{#each result}}
            <!--card messages start-->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-3">
                            {{buyerFullName}}
                        </div>
                        <div class="col-md-3">
                            <form method="post">
                                <button style="border: none; padding:0; background: none;"
                                        formaction="/listingdetails/{{property.id}}"
                                        name="listingdetailbutton" value="{{property.id}}">
                                    <u> {{property.streetAddress}}, {{property.city}}
                                        , {{property.state}} {{property.zipCode}}</u>
                                </button>
                            </form>
                        </div>
                        <div class="col-md-4">
                            {{createdAt}}
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-sm btn-outline-info pull-right" data-toggle="collapse"
                                    data-target="#message{{id}}">
                                View Message
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div id="message{{id}}" class="collapse col-md-12">
                            {{message}}
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
</div>
