<style>
    /* Style the tab */
    div.tab {
        float: left;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        width: 10%;
        height: 600px;
    }

    /* Style the buttons inside the tab */
    div.tab button {
        display: block;
        background-color: inherit;
        color: black;
        padding: 22px 16px;
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
        font-size: 100%;
    }

    /* Change background color of buttons on hover */
    div.tab button:hover {
        background-color: #ddd;
    }

    /* Style the tab content */
    .tabContent {
        float: left;
        padding: 0px 12px;
        border: 1px solid #ccc;
        width: 90%;
        border-left: none;
        height: 600px;
    }

</style>

<div class="container">
    <h1>My Profile</h1>
    <div class="tab">
        <button class="tablinks" style="word-wrap: break-word" onclick="changeTab(event, 'Listings')" id="defaultTab">
            Listings
        </button>
        <button class="tablinks" style="word-wrap: break-word" onclick="changeTab(event, 'Messages')">Messages</button>
    </div>

    <div id="Listings" class="tabContent">
        <h3>Listings</h3>
        <hr>
        <!--table start-->
        <div style="overflow-x:auto;">
            <table class="table table-hover">
                <!--table header start-->
                <thead>
                <tr>
                    <th>Address</th>
                    <th>ListingNumber</th>
                </tr>
                </thead>
                <!--table header end-->

                <!--table body start-->
                <tbody>
                <tr>
                    <td>221 B Baker St.{{address}}</td>
                    <td>00000{{listingID}}</td>
                    <td>
                        <button type="submit" class="btn btn-danger pull-right" formaction="">Delete Listing</button>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary pull-right" formaction="">Edit Listing</button>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-success pull-right" formaction="">Go To Listing</button>
                    </td>
                </tr>
                <tr>
                    <td>42 Wallaby Way, Sydney{{address}}</td>
                    <td>99999{{listingID}}</td>
                    <td>
                        <button type="submit" class="btn btn-danger pull-right" formaction="">Delete Listing</button>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary pull-right" formaction="">Edit Listing</button>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-success pull-right" formaction="">Go To Listing</button>
                    </td>
                </tr>
                <tr>
                    <td>End of Mt. Lee Dr{{address}}</td>
                    <td>11111{{listingID}}</td>
                    <td>
                        <button type="submit" class="btn btn-danger pull-right" formaction="">Delete Listing</button>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary pull-right" formaction="">Edit Listing</button>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-success pull-right" formaction="">Go To Listing</button>
                    </td>
                </tr>
                </tbody>
                <!--table body end-->
            </table>
            <!--table end-->
        </div>


    </div>

    <div id="Messages" class="tabContent">
        <h3>Messages</h3>
        <hr>
        <!--card messages start-->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-3">
                        Rick Sanchez{{firstName}} {{lastName}}
                    </div>

                    <div class="col-md-3">
                        12345 {{listingNumber}}
                    </div>
                    <div class="col-md-3">
                        11/9/17{{date}}
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#messageOne">
                            View Message
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-block">
                <div class="row">
                    <div id="messageOne" class="collapse col-md-12">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </div>
        </div>
        <!--card messages end-->


        <!--card messages start-->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-3">
                        Batman{{firstName}} {{lastName}}
                    </div>

                    <div class="col-md-3">
                        00000 {{listingNumber}}
                    </div>
                    <div class="col-md-3">
                        11/9/17{{date}}
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#message">
                            View Message
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-block">
                <div class="row">
                    <div id="message" class="collapse col-md-12">
                        Lorem ipsum dolor sit ametg, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </div>
        </div>
        <!--card messages end-->

        <!--card messages start-->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-3">
                        Louis CK{{firstName}} {{lastName}}
                    </div>

                    <div class="col-md-3">
                        99999 {{listingNumber}}
                    </div>
                    <div class="col-md-3">
                        11/9/17{{date}}
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#1{{messageNumber}}">
                            View Message
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-block">
                <div class="row">
                    <div id="1{{messageNumber}}" class="collapse col-md-12">
                        Lorem ipsumf dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </div>
        </div>
        <!--card messages end-->

    </div>
        <p style="color: #eee"> Filler text to get jumbotron to work</p>
</div>

<script>
    function changeTab(event, dashBoardTab) {
        var tabIndex, tabContent, tablinks;
        tabContent = document.getElementsByClassName("tabContent");
        for (tabIndex = 0; tabIndex < tabContent.length; tabIndex++) {
            tabContent[tabIndex].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (tabIndex = 0; tabIndex < tablinks.length; tabIndex++) {
            tablinks[tabIndex].className = tablinks[tabIndex].className.replace(" active", "");
        }
        document.getElementById(dashBoardTab).style.display = "block";
        event.currentTarget.className += " active";
    }

    document.getElementById("defaultTab").click();
</script>