<div class="container">
    <div class="row">


        <div class="col-md-12">
            <h4>My Favorites</h4>
            <div class="table-responsive-sm table-striped">


                <table id="mytable" class="table table-bordred table-striped">

                    <thead class="thread-light">
                    <th>Address</th>
                    <th>Saved At</th>
                    <th>Delete</th>
                    </thead>
                    <tbody>

                    {{#each result}}
                        <tr>
                            <td>
                                <form method="post">
                                    <button style="border: none; padding:0; background: none;"
                                            formaction="/listingdetails/{{id}}"
                                            name="listingdetailbutton" value="{{id}}">
                                        <u>{{streetAddress}}{{city}}{{state}}{{zipcode}}</u>
                                    </button>
                                </form>
                            </td>

                            <td>{{createdAt}}</td>
                            <td>
                                <form method="post">
                                    <button type="submit" class="btn btn-danger" formaction="/favorites/delete" name="deleteButton" value="{{id}}">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

