<!--<div class="container">-->

    <!--<form method="POST" action="/listing" enctype="multipart/form-data">-->
        <!--<div>-->
            <!--<h3>Pictures</h3>-->
            <!--{{#if msg }}-->
                <!--{{msg}}-->
            <!--{{/if}}-->
            <!--{{#each results}}-->
                <!--<img src="{{imageLink}}" class="img-thumbnail">-->
            <!--{{/each}}-->
            <!--<label class="custom-file">-->
                <!--<input type="file" name="pics" id="file2" class="custom-file-input">-->
                <!--<span class="custom-file-control"></span>-->
            <!--</label>-->

            <!--<button type="submit" class="btn btn-light " formaction="/listing/pictures" style="margin-left:10px">Add pictures-->
            <!--</button>-->
        <!--</div>-->

    <!--</form>-->
<!--</div>-->


<div class="container">
    <h1>Photos of property</h1>
    <h6>Note: only up 10 photos allowed to upload.</h6>

    {{#if msg }}
        {{msg}}
    {{/if}}
    <form action="/listing" method="POST" enctype="multipart/form-data">
        <div class="file-field input-field">
            <div class="btn grey">
                <span>File</span>
                <input name="pics" type="file">
            </div>
            <button type="submit" class="btn" formaction="/listing/upload">Submit</button>

        </div>
    </form>
    <br>
    <div class="tab-content">

        <div class="tab-pane active" id="listings" role="tabpanel">
            <!--listing header start-->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <h3>Total uploaded photos: {{photos.length}}</h3>
                    </div>
                    <hr>
                    <div class="row">
                        <h4 class="col-md-4">Photos:</h4>
                        <h4 class="col-md-4">Options:</h4>
                    </div>
                </div>
            </div>

            {{#each property}}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-4">
                                {{streetAddress}}, {{city}}, {{state}} {{zipCode}}
                            </div>

                            <div class="col-md-4">
                                <form method="post" action="/listing">
                                    <button type="submit" class="btn btn-danger" formaction="/listing/delete"
                                            name="deleteButton" value="{{id}}">Delete Listing
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--card listing end-->
            {{/each}}
        </div>
</div>


<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>



