<script>
    window.onbeforeunload = function () {
        sessionStorage.setItem("searchResult", $('#searchResult').val());
    };
    window.onload = function () {
        sessionStorage.removeItem("searchResult");
        let currentPage = document.getElementById("home");
        currentPage.className += " active";
    }
</script>

<div class="banner d-flex align-items-center">

    <div class="container">
        <!--<div class="row">-->
        <!--Search Bar Start-->
        <div style="padding: 40px; " class="col-md-12">
            <h1>GATOR REALTOR</h1>
            <h3>Find Your Dream Home Today!</h3>

            <form action="/search" method="POST">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input id="searchResult" type="text" class="form-control input-lg"
                               placeholder="Search by city or zip"
                               name="searchQuery"/>
                        <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="submit" formaction="/search">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                    </div>
                </div>
            </form>
        </div>
        <!--</div>-->
        <!--Search Bar End-->
    </div>
</div>

<style>
    .img-thumbnail:hover {
        box-shadow: 0px 0px 150px #000000;
    }

</style>
<!--Featured Listings Start-->
<div class="container">
    <h1 style="text-align: center; padding: 20px;">Featured Listings</h1>


    <!--First Left and Right Card End-->
    <div class="d-flex flex-row align-items-stretch flex-wrap">
        {{#each results}}
            <div class="col-sm-4" style="padding-bottom: 15px">
                <div class="card" style="height:100%">
                    <div class="card-header" style="font-size: larger; font-weight: bold">Featured</div>
                    <!--Card Image-->
                    <!--<img class="img-thumbnail" src="{{imageLink}}" style="height: 250px" alt="No Image">-->

                    <!--<form method="post">-->
                    <!--<input class="img-thumbnail submit" formaction="/listingdetails" name="listingdetailbutton"-->
                    <!--value="{{id}}" type="image" src="{{imageLink}}" style="height: 250px" alt="No Image"-->
                    <!--border="0" alt="Submit">-->
                    <!--</form>-->

                    <form method="post">
                        <button class="=btn btn-outline-secondary removeBorder" formaction="/listingdetails/{{id}}"
                                name="listingdetailbutton" value="{{id}}"><img class="img-thumbnail" src="{{imageLink}}"
                                                                               style="height: 250px" alt="No Image">
                        </button>
                    </form>

                    <!--Card Body-->
                    <div class="card-body">
                        <li class="list-group-item">
                            <h4>${{price}}</h4>
                            <hr>
                            <h6>{{streetAddress}}</h6>
                            <h6>{{city}}, {{state}} {{zipcode}}</h6>
                            <h6>Built Year: {{buildYear}}</h6>
                            <h6>Bedrooms: {{bedrooms}} Bathrooms: {{bathrooms}}</h6>
                        </li>
                        <br>
                        <form method="post" action="/listingdetails">
                            <button class="=btn btn-md btn-outline-secondary" formaction="/listingdetails/{{id}}"
                                    name="listingdetailbutton" value="{{id}}">
                                View Details
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
<!--Featured Listings End-->