<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/docs/4.0/examples/jumbotron/jumbotron.css" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href = "/stylesheets/searchbox.css" rel="stylesheet"/>

  </head>
  <body>
  <div class="container">
      <div class="header clearfix">
          <nav>
              <ul class="nav nav-pills pull-right">
                  {{#if user}}
                      <li role="presentation"><a href="/users/logout">Logout</a></li>
                  {{else}}
                      <li role="presentation"><a href="/">Dashboards</a></li>
                      <li role="presentation"><a href="/users/login">Login</a></li>
                      <li role="presentation"><a href="/users/register">Register</a></li>
                      <li role="presentation"><a href="/upload/upload">Upload</a></li>
                      <li role="presentation"><a href="/listing/listing">Create listing</a></li>
                  {{/if}}
              </ul>
          </nav>
          <h3 class="text-muted">Demo page</h3>
      </div>
    <div class="box">
        <div class="container-4">
            <form action="/search" method="POST">
                <input id="search" type="search" name="searchQuery" placeholder="Search by city or zip"/>
                <button class="icon"><i class="fa fa-search"></i></button>
            </form>
            <!--<form action="#" method="get" id="searchForm" class="input-group">-->

                <!--<div class="input-group-btn search-panel">-->
                    <!--<select name="search_param" id="search_param" class="btn btn-default dropdown-toggle" data-toggle="dropdown">-->
                        <!--<option value="all">All</option>-->
                        <!--<option value="zipcode">Zip Code</option>-->
                        <!--<option value="city">City</option>-->
                        <!--<option value="state">State</option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</form>-->
        </div>
    </div>
      <div class="row">
          <div class="col-lg-12">
              {{#if success_msg}}
                  <div class="alert alert-success">{{success_msg}}</div>
              {{/if}}

              {{#if error_msg}}
                  <div class="alert alert-danger">{{error_msg}}</div>
              {{/if}}

              {{#if error}}
                  <div class="alert alert-danger">{{error}}</div>
              {{/if}}
            {{{body}}}
          </div>
      </div>
  </div> <!-- /container -->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>  -->
  </body>
</html>


