<div class="container">
    <div class="row">
        <!--Search Bar Start-->
        <div style="padding: 40px; " class="col-md-12">
            <form action="/search" method="POST">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control input-lg" placeholder="Search by city or zip"
                               name="searchQuery"/>
                        <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="submit" formaction="/search">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--Search Bar End-->
</div>
<style>
    .img-thumbnail:hover {
        box-shadow: 0px 0px 150px #000000 ;
        z-index: 2;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.5);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.5);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.5);
        transition: all 200ms ease-in;
        transform: scale(1.5);
    }
</style>


<!--Results Listings Start-->
<div class="container">

    <!--First Left and Right Card Start-->
    <div class="d-flex flex-row flex-wrap m-auto justify-content-around">
        {{#each results}}
            <div class="p-4">
                <h3>Property: {{propertyId}}</h3>
                <h5>{{streetAddress}}</h5>
                <h5>{{city}}, {{state}} {{zipcode}}</h5>
                <h5>Built Year: {{buildYear}} </h5>
                <h5>Bedrooms: {{bedrooms}} Bathrooms: {{bathrooms}}</h5>

                <img src="{{imageLink}}" class="img-thumbnail" alt="No Image" style = "width:250px; height:250px">

                <div>
                    <iframe
                            width="250"
                            height="250"
                            frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAeJ-EPgN1ctwzOBO6-jyseWKdl_C-wqxA&q={{city}} {{streetAddress}} {{state}} {{zipcode}}"
                            allowfullscreen>
                    </iframe>
                </div>
            </div>
        {{/each}}
    </div>
    <!--First Left and Right Card End-->
</div>
<!--Results Listings End-->