<style>
    .img-thumbnail:hover {
        box-shadow: 0px 0px 150px #000000;
        z-index: 2;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.5);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.5);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.5);
        transition: all 200ms ease-in;
        transform: scale(1.5);
    }
</style>

<form method="POST">
    <div class="container">
        <div class="row">
            <!--Search Bar Start-->
            <div style="padding: 40px;" class="col-md-12">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control input-lg" placeholder="Search by city or zip"
                               name="searchQuery"/>
                        <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="submit" formaction="/search">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <!--Search Bar End-->
    </div>
    <!--Filter Panel Start-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-2">
                <div id="accordion" class="panel panel-primary behclick-panel">
                    <div class="panel-heading">
                        <h2 class="panel-title">Search Filter</h2>
                    </div>
                    <div class="panel-body">
                        <div class="panel-heading ">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse0" style="color:black">
                                    <i class="indicator fa fa-caret-down" aria-hidden="true"></i> Price
                                </a>
                            </h4>
                        </div>
                        <div id="collapse0" class="panel-collapse collapse in">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="checkbox">
                                        <label>
                                            <input type="radio" name="price" value="1">
                                            0 - 100,000$
                                        </label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="checkbox">
                                        <label>
                                            <input type="radio" name="price" value="2">
                                            100,000$ - 500,000$
                                        </label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="checkbox">
                                        <label>
                                            <input type="radio" name="price" value="3">
                                            500,000$ - 1,000,000$
                                        </label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="checkbox">
                                        <label>
                                            <input type="radio" name="price" value="4">
                                            More Than 1,000,000$
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="panel-heading ">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse1" style="color:black">
                                    <i class="indicator fa fa-caret-down" aria-hidden="true"></i> Bedrooms
                                </a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="checkbox">
                                        <label>
                                            <input type="radio" name="bedrooms" value="1">
                                            1-3
                                        </label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="checkbox">
                                        <label>
                                            <input type="radio" name="bedrooms" value="2">
                                            4-6
                                        </label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="checkbox">
                                        <label>
                                            <input type="radio" name="bedrooms" value="3">
                                            > 6
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse3" style="color:black">
                                    <i class="indicator fa fa-caret-down" aria-hidden="true"></i> Bathrooms</a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse in">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="checkbox">
                                        <label>
                                            <input type="radio" name="bathrooms" value="1">
                                            1-3
                                        </label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="checkbox">
                                        <label>
                                            <input type="radio" name="bathrooms" value="2">
                                            4-6
                                        </label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="checkbox">
                                        <label>
                                            <input type="radio" name="bathrooms" value="3">
                                            > 6
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <br>
                    <div>

                        <button type="button" class="btn btn-primary pull-left" onclick="Clear();">Clear Filter</button>
                        <button type="submit" class="btn btn-success pull-right" formaction="/search/filter">Apply
                            filter
                        </button>
                    </div>
                </div>
            </div>
            <!--Filter Panel End-->
            <!--Results Listings Start-->
            <div class="col-sm-10">
                <div class="container-fluid">
                    <h1 style="text-align: center; padding: 20px;">Found Listings: {{results.length}}</h1>
                    <div class="d-flex flex-row align-items-stretch flex-wrap">
                        {{#each results}}
                            <div class="col-sm-4" style="padding-bottom: 15px">
                                <div class="card" style="height:100%">
                                    <!--Card Image-->
                                    <img class="img-thumbnail" src="/{{imageLink}}" style="height: 250px"
                                         alt="No Image">
                                    <!--Card Body-->
                                    <div class="card-body">
                                        <li class="list-group-item">
                                            <h4 style="display: inline">Price: ${{price}}</h4>
                                            <button class="heart fa fa-heart-o pull-right" id="heart"
                                                    style="font-size: 25px; color: red;"></button>
                                        </li>
                                        <li class="list-group-item">

                                            <h6>{{streetAddress}}</h6>
                                            <h6>{{city}}, {{state}} {{zipcode}}</h6>
                                            <h6>Built Year: {{buildYear}}</h6>
                                            <h6>Bedrooms: {{bedrooms}} Bathrooms: {{bathrooms}}</h6>
                                        </li>
                                        <br>
                                        <button class="=btn btn-md btn-primary-full" formaction="/listingdetails"
                                                name="listingdetailbutton" value="{{id}}">
                                            Check Property
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <!--Results Listings End-->
        </div>
    </div>
</form>

<script>
    function Clear() {
        clearRadioGroup("price");
        clearRadioGroup("bedrooms");
        clearRadioGroup("bathrooms")
    }

    function clearRadioGroup(GroupName) {
        var ele = document.getElementsByName(GroupName);
        for (var i = 0; i < ele.length; i++)
            ele[i].checked = false;
    }
</script>

<!--it doesn't work yet, needs to be fixed-->
<script>
    $('#heart').click(function () {
        $(this).find('button').toggleClass('fa-heart-o').toggleClass('fa-heart');
    });
</script>